{
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": true,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@/hooks/(.*)$",
    "^@/utilities/(.*)$",
    "^@/components/(.*)$",
    "^@/assets/(.*)$",
    "^@/providers/(.*)$",
    "^@/types/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}
